<h1>Edite ton mouss ici !</h1>

<%= form_for @corsair, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
  <%= label_tag 'first_name', 'Prénom :' %>
  <%= f.text_field :first_name %>
  <%= label_tag 'age', 'Age :' %>
  <%= f.text_field :age %>
  <%= f.submit "Créer" %>

  <% if @corsair.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@corsair.errors.count, "error") %> prohibited
        this corsair from being saved:
      </h2>
      <ul>
        <% @corsair.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>

</br>
    <%= link_to "Tu veux me supprimer ? :'(", corsair_path(@corsair),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-lg btn-primary" %>