<h1>Index des Moussaillons :)</h1>

	<table>
  	<tr>
  	  <th>ID du Mouss  </th>
   	  <th>Prénom  </th>
   	  <th>Age  </th>
  	</tr>
 
  	<% @corsairs.each do |corsair| %>
    <tr>
	  <td><%= corsair.id %></td>
      <td><%= corsair.first_name %></td>
      <td><%= corsair.age %></td>
      <td><%= link_to 'Montrer de plus près ;)', corsair_path(corsair) %></td>
      <td><%= link_to 'Editer', edit_corsair_path(corsair) %></td>
      <td><%= link_to 'Supprimer', corsair_path(corsair),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
    </table>
</br>

    <%= link_to "Allez on s'inscrit !", new_corsair_path, class: "btn btn-lg btn-primary" %>
